In [14]:
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle

In [7]:
world_cup = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [8]:
groups = {}
for letter, i in zip(alphabet, range (9,59,7)):
    df = world_cup[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    df.pop('Qualification')
    groups[f'Group {letter}'] = df

In [10]:
groups['Group A']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Netherlands    3  2  1  0   5   1  +4    7
1    2      Senegal    3  2  0  1   5   4  +1    6
2    3      Ecuador    3  1  1  1   4   3  +1    4
3    4    Qatar (H)    3  0  0  3   1   7  −6    0

In [15]:
with open('Groups','wb') as output:
    pickle.dump(groups, output)